
# Python

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.log

# Docker
*.log
docker-compose.override.yml


# Kubernetes
*.kubeconfig
kubeconfig
.kube/


# CI/CD & Secrets
.env.*
*.secret
secrets.yaml

# OS & IDE

.DS_Store
Thumbs.db
.idea/
.vscode/

# Terraform (if added later)
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
